spring:
  application:
    name: bulletin-board
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 50MB

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/bulletinboard}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: ${SERVER_PORT:8080}

app:
  upload-dir: /Users/akolechkin/uploads

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always